{% extends 'stream_base.html' %}
{% load static %}
{% block precontent %}



        <div id="div2"></div>

        <div class="container">
        	<div class="div4"><h1 id="sem">THIRD SEM</h1></div>
        	<div class="row">

        		<div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Biochemistry-2</h1></a></div>
        		<div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Biophysics</h1></a></div>
                <div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Food Science</h1></a></div>
        		<div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Material and Energy Balance</h1></a></div>
        		<div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Immunotechnology</h1></a></div>
        		<div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Molecular Biology</h1></a></div>
            </div>
            </div>

        <div class="container">
        	<div class="div6"><h1 id="sem">FOURTH SEM</h1></div>
        	<div class="row">

        		<div class="div5 col-lg-4 col-sm-6"><a href="#"><h1 class="subjects">Biosafety, Bioethics and IPR</h1></a></div>
        		<div class="div5 col-lg-4 col-sm-6"><a href="#"><h1 class="subjects">Bioanalytical Techniques</h1></a></div>
                <div class="div5 col-lg-4 col-sm-6"><a href="#"><h1 class="subjects">Energy and Environment</h1></a></div>
        		<div class="div5 col-lg-4 col-sm-6"><a href="#"><h1 class="subjects">Industrial Biotechnology</h1></a></div>
        		<div class="div5 col-lg-4 col-sm-6"><a href="#"><h1 class="subjects">Unit Operations</h1></a></div>
        		<div class="div5 col-lg-4 col-sm-6"><a href="#"><h1 class="subjects">Genetic and Metabolic Engineering</h1></a></div>
            </div>
            </div>
      

{% endblock %}
