{% extends 'stream_base.html' %}
{% load static %}
{% block precontent %}
      <div id="div2"></div>

      <div class="container">
        <div class="div4"><h1 id="sem">C</h1></div>
        <div class="row">

          <div class="div3 col-md-4 col-sm-6"><a href="https://sites.google.com/a/thapar.edu/uta018/l"><h1 class="subjects">Course Site</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/12U2zlnxSjr1Ve55wdjoXDDe-F04U0qCj"><h1 class="subjects">Notes</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/12doDtn3JR5VULR39nCEdmsgI27wjGnQe"><h1 class="subjects">Books/Lab Materail</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/12e-e0rfz2lW7g13TKUChaq1vz-nRew_3"><h1 class="subjects">Past Year</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/1N6oxJXyfPvStQTR6H08pwKC5uT4wJq-D"><h1 class="subjects">Syllabus</h1></a></div>
          </div>
          </div>

{% endblock %}
