{% extends 'stream_base.html' %}
{% load static %}
{% block precontent %}
      <div id="div2"></div>

      <div class="container">
        <div class="div4"><h1 id="sem">Applied Chemistry</h1></div>
        <div class="row">

          <div class="div3 col-md-4 col-sm-6"><a href="https://sites.google.com/view/mncintu/home"><h1 class="subjects">Course Site</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/10F2XgGqFwmSIKuXt_TBzCFJjPhaFAKTT"><h1 class="subjects">Notes</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/10MxU5g01qI01xkBQN2SA0L-Yb52xhq8k"><h1 class="subjects">Books/Lab Materail</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/11-_eZKJ8U9Z1yfLtb0wWeop8kpav3Kw9"><h1 class="subjects">Past Year</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/1QwzVNKvf4u3twlaANID9w5AwLR7a1pIV"><h1 class="subjects">Syllabus</h1></a></div>
          </div>
          </div>

{% endblock %}
