{% extends 'stream_base.html' %}
{% load static %}
{% block precontent %}

        <div id="div2"></div>

        <div class="container">
        	<div class="div4"><h1 id="sem">THIRD SEMESTER</h1></div>
        	<div class="row">

        		<div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Invention & Innovations</h1></a></div>
                <div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Engineering Design-1</h1></a></div>
        		<div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Engineering Materials</h1></a></div>
        		<div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Operating Systems</h1></a></div>
        		<div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Numerical Analysis</h1></a></div>
                <div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Computer Networks</h1></a></div>
                <div class="ed2 col-lg-12"><a href="#"><h1 class="subjects"> Discrete Mathematical Structures</h1></a></div>
            </div>
            </div>

        <div class="container">
        	<div class="div6"><h1 id="sem">FOURTH SEMESTER</h1></div>
        	<div class="row">

        		<div class="div5 col-lg-4 col-sm-6"><a href="#"><h1 class="subjects">Database Management System</h1></a></div>
        		<div class="div5 col-lg-4 col-sm-6"><a href="#"><h1 class="subjects">Data Structures and Algorithms</h1></a></div>
                <div class="div5 col-lg-4 col-sm-6"><a href="#"><h1 class="subjects">Optimization Techniques</h1></a></div>
        		<div class="div5 col-lg-4 col-sm-6"><a href="#"><h1 class="subjects">Engineering Design 2</h1></a></div>
        		<div class="div5 col-lg-4 col-sm-6"><a href="#"><h1 class="subjects">Probability & Statistics</h1></a></div>
        		<div class="div5 col-lg-4 col-sm-6"><a href="#"><h1 class="subjects">Measurement Science & Techniques</h1></a></div>
        		<div class="ed2 col-lg-12"><a href="#"><h1 class="subjects">Manufacturing Processes</h1></a></div>
            </div>
            </div>
{% endblock %}
