{% extends 'stream_base.html' %}
{% load static %}
{% block precontent %}
        <div id="div2"></div>

        <div class="container">
        	<div class="div4"><h1 id="sem">THIRD SEM</h1></div>
        	<div class="row">

        		<div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Engineering Design-1</h1></a></div>
        		<div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Circuit Analysis & Synthesis</h1></a></div>
                <div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Signals & Systems</h1></a></div>
        		<div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Embedded Systems</h1></a></div>
        		<div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Numerical Analysis</h1></a></div>
                <div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Engineering Materials</h1></a></div>
            </div>
            </div>

        <div class="container">
        	<div class="div6"><h1 id="sem">FOURTH SEM</h1></div>
        	<div class="row">
                <div class="div5 col-lg-4 col-sm-6"><a href="#"><h1 class="subjects">Engineering Design-2</h1></a></div>
        		<div class="div5 col-lg-4 col-sm-6"><a href="#"><h1 class="subjects">Manufacturing Process</h1></a></div>
                <div class="div5 col-lg-4 col-sm-6"><a href="#"><h1 class="subjects">Digital System Design</h1></a></div>
        		<div class="div5 col-lg-4 col-sm-6"><a href="#"><h1 class="subjects">Analog Electronic circuits</h1></a></div>
        		<div class="div5 col-lg-4 col-sm-6"><a href="#"><h1 class="subjects">Optimization Techniques</h1></a></div>
        		<div class="div5 col-lg-4 col-sm-6"><a href="#"><h1 class="subjects">Probability & Information Theory</h1></a></div>
            </div>
            </div>
{% endblock %}
