{% extends 'stream_base.html' %}
{% load static %}
{% block precontent %}
      <div id="div2"></div>

      <div class="container">
        <div class="div4"><h1 id="sem">C</h1></div>
        <div class="row">

          <div class="div3 col-md-4 col-sm-6"><a href="https://sites.google.com/thapar.edu/uta015/home?authuser=0"><h1 class="subjects">Course Site</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/134VIz5dppBMWTqcPPHQCu01eR-tc39Et"><h1 class="subjects">Notes</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/135cii8HuCOE1nBUVS_8m-KYdqDs9kLvA"><h1 class="subjects">Books/Lab Materail</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/13G8IsVQJ7uksOWffIw5z85I6QVhH7UPW"><h1 class="subjects">Past Year</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/1eEwuPEnE1BY-ZftQQljei565ruZCjuRQ"><h1 class="subjects">Syllabus</h1></a></div>
          </div>
          </div>

{% endblock %}
