{% extends 'stream_base.html' %}
{% load static %}
{% block precontent %}
      <div id="div2"></div>

      <div class="container">
        <div class="div4"><h1 id="sem">Electrical</h1></div>
        <div class="row">

          <div class="div3 col-md-4 col-sm-6"><a href="https://sites.google.com/a/thapar.edu/uee001-2019-20-even-sem/"><h1 class="subjects">Course Site</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/10U5L47HSQqmuGG5OOLjcZqep5ELuuKA4"><h1 class="subjects">Notes</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/10V1SDR84r9qvhQbP6yoi32PhptSNnKUM"><h1 class="subjects">Books/Lab Materail</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/11NG1lPvqUhezSCAvJo_R2mjZsKu8HJ6p"><h1 class="subjects">Past Year</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/1N5rk7NGafMZywwF3p5hgcDdgw_mXxxzf"><h1 class="subjects">Syllabus</h1></a></div>
          </div>
          </div>

{% endblock %}
