{% extends 'stream_base.html' %}
{% load static %}
{% block precontent %}
      <div id="div2"></div>

      <div class="container">
        <div class="div4"><h1 id="sem">Environment</h1></div>
        <div class="row">

          <div class="div3 col-md-4 col-sm-6"><a href="#"><h1 class="subjects">Course Site</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="#https://drive.google.com/drive/u/3/folders/10_uhPjzZ8vyxOk6w2iPSWPjbwVMoU4tb"><h1 class="subjects">Notes</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/10xnH-8-mFjjcHOxhFbhyeFzoTjmkZ06s"><h1 class="subjects">Books/Lab Materail</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/11Q4l3hLCdsYj46_2RuLFy846FggSxwLF"><h1 class="subjects">Past Year</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/1WEJUKHOUWv9u061HSzrBaDmaMQcLL1SP"><h1 class="subjects">Syllabus</h1></a></div>
          </div>
          </div>

{% endblock %}
