{% extends 'stream_base.html' %}
{% load static %}
{% block precontent %}
      <div id="div2"></div>

      <div class="container">
        <div class="div4"><h1 id="sem">C</h1></div>
        <div class="row">

          <div class="div3 col-md-4 col-sm-6"><a href="https://sites.google.com/a/thapar.edu/uma004/course-handout-1"><h1 class="subjects">Course Site</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/13YIk5JCtj6KnZqp65ugdc33WMQOpP7gF"><h1 class="subjects">Notes</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/13WQl6aCqO8Cs5TWsKCZ_RSVEC7kaQ9ql"><h1 class="subjects">Books/Lab Materail</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/13Ya1G9x4cgj-gE1wd1HQIYSE4mxvWVWk"><h1 class="subjects">Past Year</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/1xhS485FziEx1qdAHgwQ9E6EFXYzlK0j3"><h1 class="subjects">Syllabus</h1></a></div>
          </div>
          </div>

{% endblock %}
