{% extends 'stream_base.html' %}
{% load static %}
{% block precontent %}
      <div id="div2"></div>

      <div class="container">
        <div class="div4"><h1 id="sem">C</h1></div>
        <div class="row">

          <div class="div3 col-md-4 col-sm-6"><a href="https://sites.google.com/a/thapar.edu/applied-physics-uph004-tu/"><h1 class="subjects">Course Site</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/12BDqbjUb9AsI0E8W35Wn0nondzKgeKUi"><h1 class="subjects">Notes</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/12O6h0eY_iyzidT-ohzKWmewCli98sdys"><h1 class="subjects">Books/Lab Materail</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/12SvASd2YbSAUOV91bIXcAHMHqh8KuWen"><h1 class="subjects">Past Year</h1></a></div>
          <div class="div3 col-md-4 col-sm-6"><a href="https://drive.google.com/drive/u/3/folders/16n16aZqhkbjJz8SG8xtH4jHt12jN6h7G"><h1 class="subjects">Syllabus</h1></a></div>
          </div>
          </div>

{% endblock %}
